# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/

# Django stuff
*.sqlite3
db.sqlite3

# Static and media files
staticfiles/
media/
student_pictures/

# VS Code settings (optional)
.vscode/